@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	background: #fff;
	min-height: 200vh;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	padding: 20px 100px;
	z-index: 100000;
	background-color: #000;
}
header .logo {
	position: relative;
	font-weight: 700;
	color: #00AEFD;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.6s;
}
header ul
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
header ul li
{
	position: relative;
	list-style: none;
}
header ul li a
{
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #fff;
	letter-spacing: 2px;
	font-weight: 500px;
	transition: 0.5s;
}
header ul li a:hover
{
	color: #00AEFD;
}
#homesection1
{
	position: relative;
	width: 100%;
	height: auto;
}
#coverimage
{
	width:100%;
}
#homesection2
{
	position: relative;
	width: 100%;
	height: auto;
	background-color: #fff;
	padding-top: 40px;
	padding-left: 100px;
	padding-right: 100px;
}
#logo
{
	width:30%;
}
.active
{
	color: #00AEFD;
}
.inactive
{
	color: #fff;
}
h1
{
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
  font-weight: 300;
  letter-spacing: 2px;
}
p
{
  text-align: center;
}
